---
import { useTranslations } from '../../i18n/utils';
import LinkButton from '../commons/LinkButton.astro'

const { currentLocale } = Astro;

const t = useTranslations(currentLocale ?? 'en');
---

<div class="max-w xl">
  <div class="flex flex-col items-center justify-center">
    <h1 class="text-6xl md:text-7xl font-black text-center">
      Alejandro Padilla <br />
      <span
        class="text-6xl md:text-7xl font-bold bg-gradient-to-r from-orange-700 via-yellow-500 to-rose-400  bg-clip-text bg-300% animate-gradient leading-tight text-transparent"
      >
        Frontend Developer
      </span>
    </h1>

    <p class='mt-6 text-xl w-3/5 text-center opacity-80'>{t('hero.message')}</p>

    <LinkButton className="mt-4" href='mailto:alejandropg339@gmail.com'>
      {t('hero.button')}
    </LinkButton>

  </div>
</div>
