---
const props = Astro.props;
---

<a href={props.link} target="_blank" rel="noopener">
  <div class="p-2 bg-neutral-400/10 border-[#ffffff24] border-[0.5px] boder-solid hover:neon-smooth-neutral rounded-xl">
    <slot />
  </div>
</a>
