---
const props = Astro.props;
---

<a href={props.link} target="_blank" rel="noopener">
  <div class="p-2 bg-transparent border-[#ffffff24] border-[0.5px] boder-solid hover:neon-smooth-slate rounded-md">
    <slot />
  </div>
</a>
